# Model weights
sam3.pt

# Python
__pycache__/
*.pyc

# Virtual environments
venv/

# OS
.DS_Store

# Output files
*.mp4
!laundry_pile.mp4

server/certs/*.pem

# Testing output (keep .gitkeep only)
testing/output/**/*
!testing/output/.gitkeep
!testing/output/straight_line/.gitkeep
!testing/output/outside_in/.gitkeep
